.custom-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card > div {
  margin: 10px; /* Espacio entre las tarjetas */
  text-align: center; /* Para centrar el contenido */
}

.btn-primary{
  background-color: #052659;
  margin-left: 5px;
  border: #052659;
}
