.flex-container {
  display: flex;
  align-items: center; /* Esto alinea los elementos verticalmente en el centro */
}
.btn-custom .fa-power-off {
  color: white; /* Cambia el color del icono a blanco */
}

.btn-custom .fa-gear{
  color: white; /* Cambia el color del icono a blanco */
}


