<app-menu-dashboard></app-menu-dashboard>
<br>
<div class="d-flex">
  <h2 class="h2">Usuarios</h2>
  <div class="divAnadir">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUsuario">
      <i class="fa fa-plus"></i>
    </button>
    <app-add-usuario (onChange)="actualizarUsuarios($event)"></app-add-usuario>
  </div>
</div>


<div class="table-responsive mx-5">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Puesto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: page}">
      <td>{{usuario.id}}</td>
      <td>{{usuario.name}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.categoria_usuario.descripcion}}</td>
      <td>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editUsuario" (click)="buscarUsuario(usuario.id)">
          <i class="fa fa-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuario" (click)="setUsuarioAEliminar(usuario.id, usuario.name)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#showNominas" (click)="buscarUsuario(usuario.id)">
          <i class="fa fa-file"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div style="display: flex; justify-content: center; align-items: center;">
  <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente">
  </pagination-controls>
</div>
<app-edit-usuario *ngIf="usuario" [usuario]="usuario" (onChange)="actualizarUsuarios($event)"></app-edit-usuario>
<app-rm-usuario [id]="id" [nombre]="nombre" (onChange)="actualizarUsuarios($event)"></app-rm-usuario>
<app-show-nominas *ngIf="usuario" [usuario]="usuario"></app-show-nominas>


