<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Contáctanos</h5>
        <p>
          <i class="fas fa-phone-alt"></i> 957690184
          <br>
          <i class="fas fa-phone-alt"></i> 957676295
        </p>
        <p>Direcciones:</p>
        <ul class="locations">
          <li><a href="https://www.google.com/maps/place/Mercado+De+Abastos/@37.61876,-4.32139,17z/data=!3m1!4b1!4m6!3m5!1s0xd6da166a450de21:0xd577f998c7d0e4a7!8m2!3d37.61876!4d-4.32139!16s%2Fg%2F11c7p38_7h?entry=ttu" target="_blank" class="location-link"><i class="fas fa-map-marker-alt"></i> Salvador Muñoz 15, Baena (Córdoba)</a></li>
          <li><a href="https://www.google.com/maps/place/PLAZA+DE+ABASTOS/@37.5544072,-4.3586433,17z/data=!3m1!4b1!4m6!3m5!1s0xd6d9fd329550da7:0x4e45c20c4690a235!8m2!3d37.5544072!4d-4.3586433!16s%2Fg%2F11gy3hvzmk?entry=ttu" target="_blank" class="location-link"><i class="fas fa-map-marker-alt"></i> Antonio Machado, 18D, Doña Mencía (Córdoba)</a></li>
        </ul>
      </div>
      <div class="col social-column">
        <h5>Síguenos en redes sociales</h5>
        <ul class="social-links">
          <li><a href="#" class="social-link"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="#" class="social-link"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#" class="social-link"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
        <p>
          <a href="http://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px"
                  src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                  alt="¡CSS Válido!" />
              </a>
          </p>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2024 Pescados Cañete Trillo. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
