
      <div class="modal-header  bg-custom">
        <h1 class="modal-title fs-5" id="updtUsuario">Actualizar Usuario</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formMarisco="ngForm" (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="usuarioActualizado.NOMBRE" id="nombre" placeholder="Nombre" alt="Nombre">
            <label for="nombre">Nombre</label>
            <span class="text-danger" *ngIf="!usuarioActualizado.NOMBRE">
              <i class="fa-solid fa-xmark"></i> Nombre requerido
          </span>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" placeholder="Email" name="email"  [(ngModel)]="usuarioActualizado.EMAIL" alt="Email" id="email">
            <label for="email">Email</label>
            <span class="text-danger" *ngIf="!usuarioActualizado.EMAIL">
              <i class="fa-solid fa-xmark"></i> Email requerido
          </span>
          </div>
          <br>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" name="telefono"  [(ngModel)]="usuarioActualizado.TELEFONO" placeholder="Telefono" alt="Telefono">
            <label for="telefono">Télefono</label>
            <span class="text-danger" *ngIf="!usuarioActualizado.TELEFONO">
              <i class="fa-solid fa-xmark"></i> Teléfono requerido
          </span>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="direccion" name="direccion"  [(ngModel)]="usuarioActualizado.DIRECCION" placeholder="Dirección" alt="Dirección">
            <label for="direccion">Dirección</label>
            <span class="text-danger" *ngIf="!usuarioActualizado.DIRECCION">
              <i class="fa-solid fa-xmark"></i> Dirección requerida
          </span>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="fechaCompra" name="fechaCompra"  [(ngModel)]="usuarioActualizado.FECHA_NACIMIENTO" placeholder="Fecha de Compra" alt="Fecha de Compra">
            <label for="fechaCompra">Fecha de Nacimiento</label>
            <span class="text-danger" *ngIf="!usuarioActualizado.FECHA_NACIMIENTO">
              <i class="fa-solid fa-xmark"></i> Fecha de Nacimiento requerida
          </span>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Guardar</button>
          </div>
        </form>
      </div>
