<div class="modal fade" id="editProveedor" tabindex="-1" aria-labelledby="editProveedor" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editProveedor">Actualizar Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formProveedor="ngForm" (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" name="id" [(ngModel)]="proveedor.id" id="id" placeholder="Id" alt="Id" readonly>
            <label for="id">Id</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="proveedor.nombre" id="nombre" placeholder="Nombre" alt="Nombre">
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Dirección" name="direccion"  [(ngModel)]="proveedor.direccion" alt="direccion" id="direccion" style="height: 100px"></textarea>
            <label for="direccion">Dirección</label>
          </div>
          <br>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="categoria" name="categoria"  [(ngModel)]="proveedor.categoria" placeholder="Categoría" alt="Categoría">
            <label for="categoria">Categoría</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" name="telefono"  [(ngModel)]="proveedor.telefono" placeholder="Teléfono" alt="Teléfono">
            <label for="telefono">Teléfono</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cif" name="cif"  [(ngModel)]="proveedor.cif" placeholder="CIF" alt="CIF">
            <label for="cif">CIF</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
