<app-menu-dashboard></app-menu-dashboard>
<br>
<div class="d-flex">
  <h2 class="h2">Proveedores</h2>
  <div class="divAnadir">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProveedor">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>


<div class="table-responsive mx-5">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">CIF</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{proveedor.id}}</td>
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.direccion}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>{{proveedor.cif}}</td>
      <td>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showProveedor" (click)="buscarProveedor(proveedor.id)" >
          <i class="fa fa-eye"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarProveedor" (click)="setProveedorAEliminar(proveedor.id, proveedor.nombre)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProveedor" (click)="buscarProveedor(proveedor.id)">
          <i class="fa fa-pen"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-add-proveedor (onChange)="actualizarProveedores($event)"></app-add-proveedor>
<!-- Aquí pasamos el proveedor seleccionado al componente -->
<app-show-proveedor *ngIf="proveedor" [proveedor]="proveedor"></app-show-proveedor>
<app-edit-proveedor *ngIf="proveedor" [proveedor]="proveedor" (onChange)="actualizarProveedores($event)"></app-edit-proveedor>
<app-rm-proveedor [id]="id" [nombre]="nombre"></app-rm-proveedor>
