<app-menu-dashboard></app-menu-dashboard>

<div class="container">
  <div class="header">
    <h2 class="title">Proveedores</h2>
    <div class="add-button-container">
      <button type="button" class="btn add-btn" (click)="modalAdd()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="search-container">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtro">
      <button class="btn search-btn" type="button" (click)="limpiarFiltro()">Limpiar</button>
    </div>
  </div>

  <div class="table-container" *ngIf="proveedores">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>CIF</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores | filterProveedores: filtro | paginate: { itemsPerPage: 10, currentPage: page}">
          <td>{{proveedor.id}}</td>
          <td>{{proveedor.nombre}}</td>
          <td>{{proveedor.direccion}}</td>
          <td>{{proveedor.telefono}}</td>
          <td>{{proveedor.cif}}</td>
          <td>
            <button class="btn action-btn" (click)="modalShow(proveedor)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td>
            <button class="btn action-btn danger-btn" (click)="modalRM(proveedor.id, proveedor.nombre)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
          <td>
            <button class="btn action-btn" (click)="modalEdit(proveedor)">
              <i class="fa fa-pen"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>
</div>
