      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="editUsuario">Editar Usuario</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formUsuario="ngForm" (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <input type="number" class="form-control" name="id" [(ngModel)]="usuario.id" id="id" placeholder="Id" alt="Id" readonly>
            <label for="id">Id</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.name" id="nombre" placeholder="Nombre" alt="Nombre" readonly>
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email" id="email" placeholder="Email" alt="Email" readonly>
            <label for="email">Email</label>
          </div>
          <div class="form-floating">
            <select class="form-select" id="categoriaUsuario" name="categoriaUsuario" aria-label="Floating label select example" [(ngModel)]="usuario.categoria_usuario_id">
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descripcion }}</option>
            </select>
            <label for="categoriaUsuario">Categoría de Usuario</label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
