<app-menu-dashboard></app-menu-dashboard>

<br>

<div class="container">
  <div class="header">
    <h2 class="title">Ventas</h2>
    <div class="add-button-container">
      <button type="button" class="btn add-btn" (click)="modalAdd()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="search-container">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtro">
      <button class="btn search-btn" type="button" (click)="limpiarFiltro()">Limpiar</button>
    </div>
  </div>

  <div class="table-container" *ngIf="ventas">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Referencia</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas | filterVentas: filtro | paginate: { itemsPerPage: 10, currentPage: page}">
          <td>{{venta.id}}</td>
          <td>{{venta.descripcion}}</td>
          <td>{{ venta.cantidad | number:'1.2-2' }}€</td>
          <td>{{venta.referencia}}</td>
          <td>{{ venta.fecha }}</td>
          <td>
            <button class="btn action-btn danger-btn" data-bs-toggle="modal" data-bs-target="#eliminarVenta" (click)="setVentaAEliminar(venta.id, venta.referencia)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>

  <app-rm-ventas [id]="id" [referencia]="referencia" (onChange)="ventasActualizadas($event)"></app-rm-ventas>

  <!-- Línea que muestra la suma total -->
  <div class="total-line text-end mx-5" *ngIf="ventas && ventas.length > 0">
    <hr>
    <div>TOTAL: {{calcularTotalFiltrado()}}€</div>
  </div>
</div>
