
      <div class="modal-header  bg-custom">
        <h1 class="modal-title fs-5" id="showMarisco">{{marisco.nombre}}</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <label for="nombre"><strong>Nombre:</strong> {{marisco.nombre}}</label>
            <br><br>
            <label for="descripcion"><strong>Descripción:</strong> {{marisco.descripcion}}</label>
            <br><br>
            <label for="origen"><strong>Origen:</strong> {{marisco.origen}}</label>
            <br><br>
            <label for="precioKG"><strong>Precio del KG:</strong> {{marisco.precioKG}}</label>
            <br><br>
            <label for="cantidad"><strong>Cantidad:</strong> {{marisco.cantidad}}</label>
            <br><br>
            <label for="fechaCompra"><strong>Fecha de Compra:</strong> {{marisco.fechaCompra}}</label>
            <br><br>
            <label for="categoria"><strong>Categoría:</strong> {{marisco.categoria}}</label>
            <br><br>
            <label for="cocido"><strong>Cocido:</strong> {{ marisco.cocido ? 'Sí' : 'No' }}</label>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="modal.dismiss('cancel click')" >Ok</button>
        </div>
      </div>
