      <div class="modal-header  bg-custom">
        <h5 class="modal-title" id="exampleModalLabel">Confirmacion de Eliminacion</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar el marisco con ID {{ id }} y con el nombre {{nombre}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarMarisco()" >Eliminar</button>
      </div>


