<div class="modal fade" id="addProveedor" tabindex="-1" aria-labelledby="addProveedor" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addProveedor">Nuevo Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formPescado="ngForm" (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" id="nombre" placeholder="Nombre" alt="Nombre">
            <label for="nombre">Nombre</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="direccion" name="direccion"  [(ngModel)]="direccion" alt="direccion" id="direccion" style="height: 100px"></textarea>
            <label for="direccion">Direccion</label>
          </div>
          <br>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" name="telefono"  [(ngModel)]="telefono" placeholder="Telefono" alt="Telefono">
            <label for="telefono">Telefono</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="categoria" name="categoria"  [(ngModel)]="categoria" placeholder="Categoría" alt="Categoría">
            <label for="categoria">Categoría</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cif" name="cif"  [(ngModel)]="cif" placeholder="cif" alt="cif">
            <label for="cif">CIF</label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
