<div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="showPescado">{{pescado.nombre}}</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <label for="nombre"><strong>Nombre:</strong> {{pescado.nombre}}</label>
            <br><br>
            <label for="descripcion"><strong>Descripción:</strong> {{pescado.descripcion}}</label>
            <br><br>
            <label for="origen"><strong>Origen:</strong> {{pescado.origen}}</label>
            <br><br>
            <label for="precioKG"><strong>Precio del KG:</strong> {{pescado.precioKG | number:'1.2-2'}}€</label>
            <br><br>
             <label for="cantidad"><strong>Cantidad:</strong> {{ pescado.cantidad | number:'1.2-2' }}€</label>
            <br><br>
            <label for="fechaCompra"><strong>Fecha de Compra:</strong> {{pescado.fechaCompra}}</label>
            <br><br>
            <label for="categoria"><strong>Categoría: </strong> {{pescado.categoria}}</label>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"  (click)="modal.dismiss('cancel click')">Ok</button>
        </div>
      </div>
