      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="showProveedor">{{proveedor.nombre}}</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <label for="nombre"><strong>Nombre:</strong> {{proveedor.nombre}}</label>
            <br><br>
            <label for="direccion"><strong>Direccion: </strong>{{proveedor.direccion}}</label>
            <br><br>
            <label for="cif"><strong>CIF:</strong> {{proveedor.cif}}</label>
            <br><br>
            <label for="telefono"><strong>Telefono:</strong> {{proveedor.telefono}}</label>
            <br><br>
            <label for="categoria"><strong>Categoria:</strong> {{proveedor.categoria}}</label>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="modal.dismiss('cancel click')" >Ok</button>
        </div>
      </div>


