<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let producto of productos | paginate: { itemsPerPage: 9, currentPage: page}">
    <div class="card mx-auto" style="width: 20rem;">
      <img [src]="'http://127.0.0.1:8000/storage/images/' + producto.imagen" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title text-center"><strong>{{ producto.nombre }}</strong></h5>
        <p class="card-text text-center"><strong>Descripcion: </strong>{{ producto.descripcion }}</p>
        <p class="card-text text-center"><strong>Origen:</strong> {{ producto.origen }}</p>
        <p class="card-text text-center"><strong>Precio del KG:</strong> {{ producto.precioKG | number: '.2-2' }}€</p>
        <p class="card-text text-center"><strong>Cantidad Restante:</strong> {{ producto.cantidad | number: '.2-2' }} KG</p>
        <a [routerLink]="['/detalleProducto', producto.cocido !== undefined && producto.cocido !== null ? 'marisco' : 'pescado', producto.id]" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
  <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente">
  </pagination-controls>
</div>
