.btn-custom {
  background-color: #052659;
  color: #ffffff; /* Color del texto */
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #041c3f; /* Cambio de color al pasar el ratón o al enfocarse */
  color: #ffffff; /* Color del texto al pasar el ratón o al enfocarse */
}
