<div class="modal fade" id="showNominas" tabindex="-1" aria-labelledby="showNominas" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="showNominas">
          {{ usuario.categoria_usuario_id === 1 || usuario.categoria_usuario_id === 3 ? 'Nóminas de' : 'Facturas de' }} {{ usuario.name }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>{{ usuario.categoria_usuario_id === 1 || usuario.categoria_usuario_id === 3 ? 'Nómina' : 'Factura' }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="usuario.categoria_usuario_id === 1 || usuario.categoria_usuario_id === 3; else facturasBlock">
                <tr *ngFor="let gasto of usuario.gastos | paginate: { itemsPerPage: 10, currentPage: page}">
                  <td>{{ gasto.id }}</td>
                  <td>{{ gasto.descripcion }}</td>
                  <td>{{ gasto.cantidad| number:'1.2-2' }}€</td>
                  <td>{{ gasto.fecha }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="abrirDocumento(gasto.documento, gasto.id)">
                      Abrir Nómina
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #facturasBlock>
                <tr *ngFor="let factura of usuario.facturas | paginate: { itemsPerPage: 5, currentPage: page}">
                  <td>{{ factura.id }}</td>
                  <td>{{ factura.referencia }}</td>
                  <td>{{ factura.precioFactura | number:'1.2-2' }}€</td>
                  <td>{{ factura.fecha }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="abrirDocumento(factura.nombre, factura.id)">
                      Abrir Factura
                    </button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <div style="display: flex; justify-content: center; align-items: center;">
            <pagination-controls
                (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
