<div class="modal fade" id="showGastos" tabindex="-1" aria-labelledby="showGastos" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="showGastos">{{ proveedor.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <!-- Agrega más columnas según sea necesario -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gasto of proveedor.gastos">
                <td>{{ gasto.id }}</td>
                <td>{{ gasto.descripcion }}</td>
                <td>{{ gasto.cantidad | number:'1.2-2' }}€</td>
                <td>{{ gasto.fecha }}</td>
                <!-- Agrega más celdas según sea necesario -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
