<div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="addLinea">Nueva Linea</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"   aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formLinea" (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <select class="form-select" id="selectPesc" name="selectPesc" formControlName="tipo"  (change)="onChangeOpcion()">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
            </select>
            <label for="selectPesc">Selecciona una opción</label>
          </div>

          <div class="form-floating" *ngIf="!onChangeOpcion()" >
            <select class="form-select" id="producto" name="producto" formControlName="producto" (change)="onChange()">
              <option *ngFor="let producto of pescados" [value]="producto.id">{{ producto.nombre }}</option>
            </select>
            <label for="producto">Pescado</label>
            <div *ngIf="formLinea && formLinea.get('producto') && (formLinea.get('nombre')?.dirty || formLinea.get('producto')?.touched)">
              <div *ngIf="formLinea.get('producto')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                El Producto es requerido
              </div>
            </div>
          </div>

          <div class="form-floating" *ngIf="onChangeOpcion()">
            <select class="form-select" id="producto" name="producto" formControlName="producto" (change)="onChange()">
              <option *ngFor="let producto of mariscos" [value]="producto.id">{{ producto.nombre }}</option>
            </select>
            <label for="producto">Marisco</label>
            <div *ngIf="formLinea && formLinea.get('producto') && (formLinea.get('nombre')?.dirty || formLinea.get('producto')?.touched)">
              <div *ngIf="formLinea.get('producto')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                El Producto es requerido
              </div>
            </div>
          </div>

          <br>


          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="cantidad" name="cantidad" formControlName="cantidad" placeholder="Cantidad" alt="Cantidad">
            <label for="cantidad">Cantidad (en KG)</label>
            <div *ngIf="formLinea.get('cantidad')?.dirty || formLinea.get('cantidad')?.touched">
              <div *ngIf="formLinea.get('cantidad')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i> La cantidad es requerida
              </div>
              <div *ngIf="formLinea.get('cantidad')?.errors?.['min']" style="color: red;">
                <i class="fa-solid fa-xmark"></i> La cantidad debe ser mayor a 0
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="precioKG" name="precioKG"  formControlName="precioKG" placeholder="Precio del KG" alt="Precio del KG">
            <label for="precioKG">Precio del KG</label>
            <div *ngIf="formLinea.get('precioKG')?.dirty || formLinea.get('precioKG')?.touched">
              <div *ngIf="formLinea.get('precioKG')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i> El precio del KG es requerido
              </div>
              <div *ngIf="formLinea.get('cantidad')?.errors?.['min']" style="color: red;">
                <i class="fa-solid fa-xmark"></i> El precio del KG debe ser mayor a 0
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="preparacion" formControlName="preparacion" id="preparacion" placeholder="Preparacion" alt="Preparacion">
            <label for="preparacion">Preparacion</label>
            <div *ngIf="formLinea.get('preparacion')?.dirty || formLinea.get('preparacion')?.touched">
              <div *ngIf="formLinea.get('preparacion')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i> La preparacion es requerida
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="formLinea.invalid">Guardar</button>
          </div>
        </form>
      </div>

