<div class="modal fade" id="addLinea" tabindex="-1" aria-labelledby="addLinea" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="addLinea">Nueva Linea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="guardarDatos()">
          <div class="form-floating mb-3">
            <select class="form-select" id="selectPesc" name="selectPesc" [(ngModel)]="seleccion" (change)="onChangeOpcion()">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
            </select>
            <label for="selectPesc">Selecciona una opción</label>
          </div>

          <div class="form-floating" *ngIf="!onChangeOpcion()" >
            <select class="form-select" id="producto" name="producto" [(ngModel)]="producto_id" (change)="onChange()">
              <option *ngFor="let producto of pescados" [value]="producto.id">{{ producto.nombre }}</option>
            </select>
            <label for="producto">Pescado</label>
          </div>

          <div class="form-floating" *ngIf="onChangeOpcion()">
            <select class="form-select" id="producto" name="producto" [(ngModel)]="producto_id" (change)="onChange()">
              <option *ngFor="let producto of mariscos" [value]="producto.id">{{ producto.nombre }}</option>
            </select>
            <label for="producto">Marisco</label>
          </div>

          <br>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion" id="descripcion" placeholder="Descripcion" alt="Descripcion">
            <label for="descripcion">Descripcion</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="cantidad" name="cantidad"  [(ngModel)]="cantidad" placeholder="Cantidad" alt="Cantidad">
            <label for="cantidad">Cantidad (en KG)</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="precioKG" name="precioKG"  [(ngModel)]="precioKG" placeholder="Precio del KG" alt="Precio del KG">
            <label for="precioKG">Precio del KG</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="preparacion" [(ngModel)]="preparacion" id="preparacion" placeholder="Preparacion" alt="Preparacion">
            <label for="preparacion">Preparacion</label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
