
      <div class="modal-header bg-custom">
        <h1 class="modal-title fs-5" id="addVenta">Nueva Venta</h1>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formVenta" (ngSubmit)="guardarDatos()">

          <div class="form-floating mb-3">
            <select class="form-select" id="selectPesc" formControlName="selectPesc" (change)="onChangeOpcion()">
              <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
            </select>
            <label for="selectPesc">Selecciona una opción</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="descripcion" id="descripcion" placeholder="Descripcion" alt="Descripcion" readonly>
            <label for="descripcion">Descripción</label>
            <div *ngIf="formVenta.get('descripcion')?.dirty || formVenta.get('descripcion')?.touched">
              <div *ngIf="formVenta.get('descripcion')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                Debes elegir un establecimiento arriba.
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="fecha" formControlName="fecha" placeholder="Fecha" alt="Fecha">
            <label for="fecha">Fecha</label>
            <div *ngIf="formVenta.get('fecha')?.dirty || formVenta.get('fecha')?.touched">
              <div *ngIf="formVenta.get('fecha')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                La fecha es obligatoria
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" formControlName="cantidad" id="cantidad" placeholder="Cantidad" alt="Cantidad">
            <label for="cantidad">Cantidad</label>
            <div *ngIf="formVenta.get('cantidad')?.dirty || formVenta.get('cantidad')?.touched">
              <div *ngIf="formVenta.get('cantidad')?.errors?.['required']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                La cantidad es obligatoria
              </div>
              <div *ngIf="formVenta.get('cantidad')?.errors?.['min']" style="color: red;">
                <i class="fa-solid fa-xmark"></i>
                La cantidad debe ser mayor a 0
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="formVenta.invalid">Guardar</button>
          </div>
        </form>
      </div>
