@import 'ngx-toastr/toastr';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.bg-custom {
  background-color: #052659; /* Cambia #00ff00 por tu color de fondo personalizado */
  color: white;
  font-family: 'Poppins', sans-serif;
}



.btn.btn-primary {
  background-color: #052659; /* Cambia este color al que prefieras */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.btn.btn-primary:hover {
  background-color: #052659 /* Cambia este color al que prefieras */
}






.secciones-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
}

.divAnadir{
  margin-left: auto; /* Esto empujará el div hacia la derecha */
  margin-right: 100px;

}

.h2{
  margin-left: 50px;
}
